body,
html {
    overflow: hidden;
}

body {
    font: 100%;
    color: #fff;
    font-size: 50px;
    font-family: cursive;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

* {
    margin: 0;
    padding: 0;
}

.parallax {
    font-size: 200%;
}

.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.parallax {
    height: 500px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax__group {
    position: relative;
    height: 500px;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}


















/*.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    perspective: 1px;
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateZ(0);
  }
  
  .parallax-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
  }
  
  .parallax-child {
   /* transform: translateZ(-2px) translateX(400px) translateY(1200px) scale(4);*/




/*.container {
    text-align: center;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transform: translateZ(0 0 -1px);
        }

        h1 {
            transform: translateZ(0 0 4px);
            color: #fff;
           text-align: center; 
            z-index: 1;
            font-size: 50px;
            font-family: cursive;
            text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
        }
    }
}

*/


























/* section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    h1 {
        color: #fff;
        text-align: center;
        z-index: 1;
        font-size: 50px;
        transform: translateZ(-0.9px) scale(2);
        font-family: cursive;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .first_photo {}

    .second_photo {}

    .third_photo {}
}


.container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    perspective-origin: 0 0;
}

.parallax-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.parallax-child {
    position: -webkit-sticky;
    top: 0px;
    transform: translate(-2px) scale(3);
}

img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1 {
    color: #fff;
    text-align: center;
    z-index: 1;
    font-size: 50px;
    font-family: cursive;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/*
.container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1px;
    overflow-y: auto;
    transform-style: preserve-3d;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    h1 {
        color: #fff;
        text-align: center;
        z-index: 1;
        font-size: 50px;
        font-family: cursive;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
}
*/


/*section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-out;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    h1 {
        color: #fff;
        text-align: center;
        z-index: 1;
        font-size: 50px;
        font-family: cursive;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
    .first_photo{}
    .second_photo{}
    .third_photo{}
}
*/

/*
.section-1 {
    img {
        animation: parallax-1 10s linear infinite;
    }
}

.section-2 {
    img {
        animation: parallax-2 10s linear infinite;
    }
}

@keyframes parallax-1 {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, -10%, 0);
    }
}

@keyframes parallax-2 {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, -20%, 0);
    }
}

*/